* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

.container {
    
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}
header h1 img {
    width: 150px;  /* Adjust size as needed */
    height: 150px;  /* Ensure the image is square for the circle effect */
    border-radius: 50%;  /* Makes the image circular */
    object-fit: cover;  /* Ensures the image fits within the circle */
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header p {
    font-size: 1.2em;
    color: #666;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8em;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 15px;
}

.project h3 {
    font-size: 1.4em;
    color: #333;
}

.contact a {
    color: #007BFF;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
